{% load static %}

<!-- Modal Cookies -->
<div class="modal fade" id="cookiesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding: 0;">
    <div class="modal-dialog">
        <div class="modal-content rounded-lg" style="padding: 20px;">
            <div class="modal-header" style="border: 0;">
                <img src="{% static 'images/logo-colored.png' %}" alt="logo" class="img-fluid" style="width: 50px; margin-right: 10px;">
                <h5 class="modal-title" id="exampleModalLabel">Políticas de Cookies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 0px;">
                <ol>
                    <li>
                        <strong>O que são Cookies?</strong> <br><br>
                        Cookies são pequenos arquivos de texto que são armazenados no seu dispositivo (computador, tablet ou smartphone) quando você visita nosso site. Eles permitem que o site memorize suas preferências e melhore a sua experiência de navegação.
                    </li><br>
                    <li>
                        <strong>Tipos de Cookies Utilizados</strong><br><br>
                        <ul>
                            <li>
                                <strong>Cookies Essenciais:</strong><br>
                                São necessários para o funcionamento do site, permitindo funcionalidades básicas, como a navegação e o acesso a áreas seguras.
                            </li>
                            <li>
                                <strong>Cookies de Desempenho:</strong><br>
                                Coletam informações sobre como os visitantes utilizam o site, permitindo a melhoria da performance e usabilidade.
                            </li>
                            <li>
                                <strong>Cookies de Funcionalidade:</strong><br>
                                Permitem que o site se lembre de escolhas que você faz (como idioma ou região) e proporcionam uma experiência mais personalizada.
                            </li>
                            <li>
                                <strong>Cookies de Publicidade:</strong><br>
                                São utilizados para exibir anúncios mais relevantes para você e medir a eficácia das campanhas publicitárias. <br>
                                <i>Nota: Alguns destes cookies podem ser configurados por terceiros.</i>
                            </li>
                        </ul>
                    </li><br>
                    <li>
                        <strong>Finalidade dos Cookies</strong><br><br>
                        <ul>
                            <li>Garantir o funcionamento correto do site.</li>
                            <li>Melhorar a experiência do usuário, permitindo personalizações e ajustes conforme as preferências individuais.</li>
                            <li>Analisar o tráfego e o comportamento dos visitantes para aprimorar a qualidade e o desempenho do site.</li>
                            <li>Exibir conteúdos e anúncios que sejam relevantes para você.</li>
                        </ul>
                    </li><br>
                    <li>
                        <strong>Duração dos Cookies</strong><br><br>
                        <ul>
                            <li><strong>Cookies de Sessão:</strong> São temporários e expiram quando você fecha o navegador.</li>
                            <li><strong>Cookies Persistentes:</strong> Permanecem armazenados no seu dispositivo por um período definido ou até serem removidos manualmente.</li>
                        </ul>
                    </li><br>
                    <li>
                        <strong>Gerenciamento e Desativação dos Cookies</strong><br><br>
                        Você pode gerenciar ou desativar os cookies diretamente nas configurações do seu navegador. Veja as instruções de alguns navegadores populares:
                        <ul>
                            <li><strong>Google Chrome: </strong><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=pt">Como gerenciar cookies no Chrome</a></li>
                            <li><strong>Mozilla Firefox: </strong><a href="https://support.mozilla.org/pt-PT/kb/limpar-cookies-e-dados-de-site-no-firefox">Como gerenciar cookies no Firefox</a></li>
                            <li><strong>Microsoft Edge: </strong><a href="https://support.microsoft.com/pt-br/windows/gerenciar-cookies-no-microsoft-edge-exibir-permitir-bloquear-excluir-e-usar-168dab11-0753-043d-7c16-ede5947fc64d">Como gerenciar cookies no Edge</a></li>
                        </ul>
                        A desativação dos cookies pode impactar algumas funcionalidades do site, resultando em uma experiência de navegação menos personalizada.
                    </li><br>
                    <li>
                        <strong>Alterações na Política de Cookies</strong><br><br>
                        Esta política pode ser atualizada periodicamente para refletir mudanças na legislação ou nas nossas práticas de coleta e uso de dados. Recomendamos que você revise esta página regularmente para se manter informado.
                    </li><br>
                    <li>
                        <strong>Contato</strong><br><br>
                        Se você tiver dúvidas ou precisar de mais informações sobre o uso de cookies, entre em contato conosco pelo e-mail: <a href="mailto:paulaserranoeducacao@gmail.com">paulaserranoeducacao@gmail.com</a>
                    </li><br>
                </ol>
            </div>
        </div> 
    </div> 
</div>