{% load static %}

<!-- Modal Privacy -->
<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding: 0;">
    <div class="modal-dialog">
        <div class="modal-content rounded-lg" style="padding: 20px;">
            <div class="modal-header" style="border: 0;">
                <img src="{% static 'images/logo-colored.png' %}" alt="logo" class="img-fluid" style="width: 50px; margin-right: 10px;">
                <h5 class="modal-title" id="exampleModalLabel">Política de Privacidade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 0px;">
                <i>Última Atualização: 07 de Março de 2025.</i><br><br>
                <ol>
                    <li>
                        <strong>Introdução</strong><br><br>
                        A sua privacidade é uma prioridade para a <strong>Paula Serrano Educação</strong>. Esta política explica como guardamos, utilizamos, armazenamos e protegemos as informações pessoais dos usuários.
                    </li><br>
                    <li>
                        <strong>Dados Coletados</strong><br><br>
                        Coletamos informações fornecidas voluntariamente através do formulário do site, como:
                        <ul>
                            <li>Nome</li>
                            <li>Telefone</li>
                            <li>E-mail</li>
                        </ul>
                    </li><br>
                    <li>
                        <strong>Finalidade do Tratamento</strong><br><br>
                        Os dados coletados serão utilizados para:
                        <ul>
                            <li>Entrar em contato com os usuários;</li>
                            <li>Enviar informações, atualizações e novidades relacionadas aos nossos serviços;</li>
                            <li>Melhorar a experiência de navegação no site.</li>
                        </ul>
                    </li><br>
                    <li>
                        <strong>Compartilhamento de Dados</strong><br><br>
                        Não compartilhamos os dados dos usuários com terceiros, salvo quando exigido por lei ou mediante consentimento explícito.
                    </li><br>
                    <li>
                        <strong>Armazenamento e Segurança</strong><br><br>
                        Utilizamos medidas técnicas e administrativas para proteger as informações dos usuários. Contudo, nenhuma transmissão ou método de armazenamento é 100% seguro.
                    </li><br>
                    <li>
                        <strong>Direito dos Usuários</strong><br><br>
                        Os usuários têm o direito de:
                        <ul>
                            <li>Acessar os dados que possuímos;</li>
                            <li>Solicitar a correção ou atualização dos dados;</li>
                            <li>Requerer a exclusão das informações;</li>
                            <li>Revogar, a qualquer momento, o consentimento para o tratamento dos dados. Para isso, deverão entrar em contato pelo e-mail: <a href="mailto:paulaserranoeducacao@gmail.com">paulaserranoeducacao@gmail.com</a></li>
                        </ul>
                    </li><br>
                    <li>
                        <strong>Uso de Cookies e Tecnologias Similares</strong><br><br>
                        Caso utilizemos cookies ou tecnologias similares, os usuários serão informados sobre sua utilização e os objetivos pretendidos.
                    </li><br>
                    <li>
                        <strong>Alteração na Política de Privacidade</strong><br><br>
                        Esta política pode ser atualizada periodicamente. Recomenda-se que os usuários verifiquem a página regularmente para se manterem informados sobre possíveis modificações.
                    </li><br>
                    <li>
                        <strong>Contato</strong><br><br>
                        Dúvidas, sugestões ou solicitações podem ser encaminhadas para: <a href="mailto:paulaserranoeducacao@gmail.com">paulaserranoeducacao@gmail.com</a>
                    </li>
                </ol>
            </div>
        </div> 
    </div> 
</div>