{% load static %}

<!-- Modal Terms and Conditions -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding: 0;">
    <div class="modal-dialog">
        <div class="modal-content rounded-lg" style="padding: 20px;">
            <div class="modal-header" style="border: 0;">
                <img src="{% static 'images/logo-colored.png' %}" alt="logo" class="img-fluid" style="width: 50px; margin-right: 10px;">
                <h5 class="modal-title" id="exampleModalLabel">Termos e Condições de Uso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 0px;">
                <i>Última Atualização: 07 de Março de 2025.</i><br><br>
                <ol>
                    <li>
                        <strong>Aceitação dos Termos</strong> <br><br>
                        Ao acessar e utilizar este site, o usuário concorda com estes Termos e Condições, bem como com a nossa Política de Privacidade. Caso não concorde, o usuário deverá interromper o uso do site.
                    </li><br>
                    <li>
                        <strong>Armazenar Dados</strong><br><br>
                        Este site guarda informações fornecidas voluntariamente por meio do formulário, tais como nome, telefone e e-mail, com o objetivo de facilitar nosso contato e fornecer informações relevantes sobre nossos serviços.
                    </li><br>
                    <li>
                        <strong>Uso de dados</strong><br><br>
                        Os dados coletados serão utilizados exclusivamente para:
                        <ul>
                            <li>Entrar em contato com os usuários;</li>
                            <li>Enviar informações e atualizações relacionadas aos nossos serviços.</li>
                        </ul>
                        Não compartilhamos as informações com terceiros, exceto se houver exigência legal ou autorização expressa do usuário.
                    </li><br>
                    <li>
                        <strong>Armazenamento e Segurança</strong><br><br>
                        Adotamos medidas técnicas e administrativas para proteger os dados contra acesso não autorizado, alteração, divulgação ou destruição.
                    </li><br>
                    <li>
                        <strong>Atualização dos Termos</strong><br><br>
                        Estes Termos e Condições poderão ser atualizados a qualquer momento, sem aviso prévio. Recomenda-se que os usuários verifiquem periodicamente esta página.
                    </li><br>
                    <li>
                        <strong>Direitos dos Usuários</strong><br><br>
                        Os usuários têm o direito de acessar, corrigir e solicitar a exclusão dos seus dados pessoais, conforme a legislação aplicável. Para exercer esses direitos, eles devem entrar em contato através do e-mail: paulaserranoeducacao@gmail.com
                    </li><br>
                    <li>
                        <strong>Contato</strong><br><br>
                        Em caso de dúvidas ou sugestões, o usuário pode nos contatar pelo e-mail: paulaserranoeducacao@gmail.com
                    </li><br>
                    <li>
                        <strong>Disposições Gerais</strong><br><br>
                        O uso do site é de responsabilidade exclusiva do usuário. O site não se responsabiliza por eventuais falhas, imprecisões ou desatualizações contidas neste conteúdo, comprometendo-se, contudo, a realizar as atualizações necessárias.
                    </li>
                </ol>
            </div>
        </div> 
    </div> 
</div>